<div class="alert alert-warning alert-group">
        <div class="form-inline">
            <select  [(ngModel)]="group.operator" class="form-control input-sm">
                <option *ngFor="let operator of operators">{{operator.name}}</option>
            </select> 
            <button style="margin-left: 5px" (click)="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
            <button style="margin-left: 5px" (click)="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
            <button style="margin-left: 5px" (click)="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
        </div>
         <div class="group-conditions">
            <div *ngFor="let rule of group.rules" class="condition">
                {{rule.hasOwnProperty('group')}}
                <div [ngSwitch]="rule.hasOwnProperty('group')">
                    <div *ngSwitchCase="true">
                        <query-builder [group]="rule.group"></query-builder>
                    </div>
                    <div *ngSwitchCase="false">sd
                        <div class="form-inline">
                            <select [(ngModel)]="rule.lfield" class="form-control input-sm">
                                <option *ngFor="let lt of fields">{{lt.name}}</option>
                            </select>
                            <input *ngIf="false" [(ngModel)]="rule.lfield" style="margin-left: 5px" type="text" [(ngModel)]="rule.data" class="form-control input-sm"/>
                            <select style="margin-left: 5px"  [(ngModel)]="rule.condition" class="form-control input-sm">                                
                                <option *ngFor="let c of conditions">{{c.name}}</option>
                            </select>
                            <select [(ngModel)]="rule.rfield" class="form-control input-sm">
                                <option *ngFor="let rt of fields">{{rt.name}}</option>
                            </select>
                            <input  *ngIf="false" [(ngModel)]="rule.rfield" style="margin-left: 5px" type="text" [(ngModel)]="rule.data" class="form-control input-sm"/>

                            
                            <button style="margin-left: 5px" (click)="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>

